.start-game-wrapper {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 19rem; 
    padding: 1rem; 
}

.start-btn {
    background: linear-gradient( 0.25turn, #f9b4b4, #f1d072 ); 
}

.slogan {
    /* color: #3A3B3C;  */
    color: rgb(109, 108, 108);
    text-align: center;
}