
.options-container {
  display: flex; 
  flex-direction: column;
  gap: 0.5rem;
}

.options-container .correct {
    /* background-color: rgba(255, 144, 51, 35%); */
    background-color: #69b097;
  }
  
  .options-container .incorrect {
    background-color: rgba(193, 64, 90, 35%);
  }
  

