.modal {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal-content {
  display: flex; 
  align-items: flex-end;
  flex-direction: column;
  background: linear-gradient( 0.25turn, #f9b4b4, #f1d072 ); 
  color: white;  
  padding: 20px;
  width: 320px; 
  height: 250px; 
  border-radius: 10px;
  animation: fadeIn 1s; 
  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-text {
 margin-top: auto; 
 margin-bottom: auto; 
}

@keyframes fadeIn {
  0% { opacity: 0;}
  100%{ opacity: 1;}
}

  .close {
    position: fixed;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #f9b4b4;
    text-decoration: none;
    cursor: pointer;
  }